@charset "UTF-8";

.lnb{min-width: 1280px;height: 50px;border-bottom: 1px solid #eee;box-sizing: border-box;background-color:#fff;}
.lnb_inner{width:1180px;height:100%;margin:0 auto;padding: 18px 0;box-sizing: border-box;}

.lnb_inner .step li{display: inline-block;position: relative;font-size: 15px}
.lnb_inner .step li:first-child{width:14px;height: 13px;margin-left: 1px;background: url(../image/ico_home.png) no-repeat center;text-indent: -9999px;}
.lnb_inner .step li + li{margin-left:7px;padding-left:13px;}
.lnb_inner .step li + li::before{content:'';display: inline-block;position: absolute;left: 0;top:4px;width:4px;height: 5px;background:url(../image/ico_lnb_arrow.png) no-repeat center;}

.container{position: relative;min-height: calc(100vh - 272px);}
.content_inner{width:1280px;margin:0 auto;padding:50px;box-sizing: border-box;}
.container.bg_gray{background-color: #f7f7f7;}
.container.bg_gray .content_inner{background-color: #f7f7f7;}

.titarea{padding:29px 0;text-align: center;}
.titarea h2{font-size: 48px;font-family: 'Roboto', 'Noto-M', sans-serif;}
.titarea h2 + .tit_txt{margin-top:22px;font-size: 20px;line-height: 30px;}

section{margin:30px auto}
section.w600{width:600px;}

.box_login{padding:50px;background-color:#fff;box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);border-radius: 20px;}
.box_login input[type=text]{display: block;border:1px solid #ddd;border-radius:8px;width:100%;height:70px;padding:0 28px;box-sizing: border-box;font-size: 18px;}
.box_login input[type=text]:focus{border-color: #445fb7;outline: none;}
.box_login input[type=text] + input[type=text]{margin-top:10px}
.box_login .btn_login{margin-top:40px;display: block;width:100%;}
.box_login ul{margin-top:33px;text-align: center;}
.box_login ul li{display: inline-block;padding:0 15px}
.box_login ul li a{font-size: 16px;color:#555}
.box_login ul li + li{border-left: 1px solid #ddd;}

.box_loginbtn{text-align: center;}
.box_loginbtn::after{content:"";display: block;clear:both}
.box_loginbtn li{display: inline-block;width:240px;height:240px;background:#fff;border-radius:18px;box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);}
.box_loginbtn li + li{margin-left: 40px;}
.box_loginbtn li a{display:block;height:100%;padding-top:161px;color:#111111;line-height:24px;text-align:center;font-size:20px;box-sizing: border-box;}
.box_loginbtn li:nth-child(1) a{background:url(../image/ico_findid.png) center 66px no-repeat}
.box_loginbtn li:nth-child(2) a{background:url(../image/ico_findpw.png) center 77px no-repeat}

.box_logintext{text-align: center;padding: 80px 30px;border-top: 1px solid #333;border-bottom: 1px solid #333;}
.box_logintext p{font-size:20px}
.box_logintext p span{color:#445fb7}

.btn_login{display: block;width:290px;height: 70px;line-height: 70px;border-radius:8px;background: #999;text-align: center;color:#fff;font-size: 20px;}
.btn_login.mint{background: #01b5af;}

.boxbtn_login{margin-top: 60px;text-align: center;overflow: hidden;}
.boxbtn_login li{float:left;display:block;}
.boxbtn_login li + li{margin-left:20px}

.txt_list > li{position: relative;padding-left: 10px;color:#333} 
.txt_list > li + li{margin-top: 15px;}
.txt_list > li::before{content:'';position: absolute;left:0;top:5px;display: inline-block;width:4px;height: 4px;border-radius: 2px;background-color: #333;}
.txt_list.login{margin-top:40px;}
.txt_list.login > li{color:#555}
.txt_list.login > li::before{background-color: #555;}

.tbbox.publist .tb td{height: 30px;padding:15px;}

.btn_top{position: fixed;left:50%;bottom:50px;display: none;width:46px;height:46px;margin-left:590px;border-radius: 50%;box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);text-indent: -9999px;background:#fff url(../image/ico_btntop.png) center no-repeat;z-index: 10;}
.btn_top.fix{position: absolute;}



h3 > span[id*='focus']{display: block;margin-top: -150px;padding-bottom: 150px;}


/* checkbox */
.chk.list{position: relative;}
.chk.list li{position: relative;display: inline-block;}
.chk.list li + li{margin-left:10px}

.chk{position:relative;display:block;}
.chk input[type="checkbox"]{position:absolute;left:0}
.chk input[type="checkbox"] + label{display: inline-block;padding-left: 30px;line-height: 24px;color:#333;font-family:'Roboto', 'Noto-R';font-size: 16px;}
.chk input[type="checkbox"] + label:before{position:absolute;left:0;top:0;content:'';display: inline-block;width:24px;height:24px;border:1px solid #aaa;box-sizing:border-box;background:#fff;border-radius: 50%;}
.chk input[type="checkbox"] + label:after{content:'';position:absolute;left:7px;top:7px;width:8px;height:4px;border-left:2px solid #aaa;border-bottom:2px solid #aaa;transform:rotate(-45deg)}
.chk input[type="checkbox"]:checked + label:before{background-color:#01b5af;border:0}
.chk input[type="checkbox"]:checked + label:after{border-left:2px solid #fff;border-bottom:2px solid #fff;}

/* box_form */
.box_form + .box_form{margin-top:30px}
.box_form .tit{margin-bottom:10px;font-family:'Roboto', 'Noto-M';font-size: 15px;color:#333}
.box_form > div + div{margin-top:10px}
.box_form > div::after{content: '';display: block;clear: both;}
.box_form > div > *{float: left;}
.box_form > div > * + *{margin-left: 10px;}
.box_form textarea{border:1px solid #aaa;padding:12px;height: 140px;line-height: 20px;color:#888;font-size: 14px;box-sizing: border-box;}
.box_form input[type=text]{display: inline-block;width:100%;height: 50px;padding:0 20px;border:1px solid #ddd;border-radius: 8px;box-sizing: border-box;color:#555;font-size: 16px;}
.box_form input[type=text][readonly=readonly]:focus,
.box_form input[type=text][readonly=readonly]{background: #f7f7f7;color:#aaa;border-color:#ddd;}
.box_form select{width:100%;height:50px;border:1px solid #ddd;border-radius: 8px;padding:0 20px;box-sizing: border-box;color:#333;font-size: 16px;background: url(../image/ico_select.png) no-repeat right 20px center;}
.txt_email{position: relative;display: block;width:0px;height: 50px;}
.txt_email:before{content:'@';position: absolute;left: -7px;line-height: 50px;color:#555;font-size: 16px;font-family: 'Roboto', 'Noto-R', sans-serif;}

.box_form .btn_form{display: inline-block;height: 40px;line-height: 38px;padding:0 22px;border:1px solid #111;box-sizing: border-box;font-size: 15px;color:#333;text-align: center;}
.box_form .btn_form{margin-top: 5px;}
.box_form .btn_form:hover{border-color:#01b5af;color:#01b5af}

.ly_form::after{content: '';display: block;clear: both;}
.ly_form li{position: relative;display: block;float: left;width:50%;}
.ly_form li + li{margin-left: -1px;}

.ly_form li:first-child > input[type=text],
.ly_form li:first-child > label,
.ly_form li:first-child > select{border-radius: 8px 0 0 8px;}
.ly_form li:last-child > input[type=text],
.ly_form li:last-child > label,
.ly_form li:last-child > select{border-radius: 0 8px 8px 0;}

.ly_form li input[type=text],
.ly_form li select{border-radius: 0;}
.ly_form li input[type=radio]{position: absolute;top:0;left: 0;}
.ly_form li input[type=radio] + label{position: relative;display: block;width: 100%;height: 50px;border:1px solid #ddd;box-sizing: border-box;line-height: 48px;text-align: center;background: #fff;z-index: 1;cursor: pointer;}
.ly_form li input[type=radio]:checked + label{border-color:#01b5af;color:#01b5af;z-index: 2;}
.box_form input[type=text]:focus,
.box_form select:focus{position: relative;border-color: #01b5af;outline: none;z-index: 2;}

.ly_form.col3{width:calc(100% + 2px)}
.ly_form.col3 li{width:33%}
.ly_form.col3 li:nth-child(2){width:34%}
.ly_form.col4{width:calc(100% + 3px)}
.ly_form.col4 li{width:25%;}
