@charset "UTF-8";



/* table tit 
.tit_tb{padding-bottom:10px;}
.tit_tb::after{content:'';display:block;clear:both}
.tit_tb .fl{float:left}
.tit_tb .fr{float:right}
.tit_tb span{font-size:15px;line-height:15px}
*/
/* table 

.tbbox{position:relative}
.tbbox .tb{width:100%}

.tb tr:first-child th,
.tb tr:first-child td{border-top:1px solid #333333}
.tb tr *:first-child{border-left:0}
.tb tr *:last-child{border-right:0}
.tb th,
.tb td{height:60px;box-sizing:border-box;text-align:center;vertical-align:middle;border:1px solid #dddddd;font-size:16px}
.tb th{background:#f7f7f7}
.tb th span{line-height:24px;color:#111111;font-family:'Roboto','Noto-M';}
.tb td{padding:20px;background:#ffffff}
.tb td p{padding-top:5px}
*/
/* button */



/* article 
article + article{margin-top:80px}
article h3{padding-bottom:20px;font-size:32px;color:#111111;font-family:'Roboto', 'Noto-M'}
article > p{padding-bottom:20px;line-height:16px;font-size:16px}
article > .art_txt{line-height:24px}*/

/* oga_cht 
.oga_cht{position:relative;width:100%;height:570px;background:url(../image/bg_ogacht_line.png) left top no-repeat}
.oga_cht > div{position:absolute}
.cht01{top:20px;left:345px}
.cht02{top:20px;left:635px}
.cht03{top:110px;left:85px}
.cht04{top:200px;left:345px}
.cht05{top:290px;left:85px}
.cht06{top:290px;left:622px}
.cht07{top:173px;left:923px}
.cht08{top:496px;left:3px}
.cht01 a, .cht02 a, .cht03 a, .cht04 a, .cht05 a, .cht06 a{display:block;width:260px;height:60px;line-height:60px;border:1px solid #dddddd;background:#fff;box-sizing:border-box;border-radius:30px;text-align:center;font-size:20px;font-family:'Noto-M';}
.cht01 a, .cht02 a{border-color:#dfe5ff;box-shadow:0 0 20px rgba(68, 95, 183, 0.2);color:#445fb7}
.cht01 a:hover, .cht02 a:hover{background:#445fb7;color:#fff}
.cht03 a, .cht05 a{background:#888888;border:0px;color:#ffffff}
.cht03 a:hover, .cht05 a:hover{background:#666666}
.cht04 a:hover, .cht06 a:hover{background:#eef5fb}
.cht07 li a{display:block;width:240px;height:50px;line-height:50px;border:1px solid #dddddd;background:#f7f7f7;font-size:16px;padding-left:22px;box-sizing:border-box;border-radius:8px}
.cht07 li + li{margin-top:10px}
.cht08 li{float:left}
.cht08 li a{display:block;width:220px;height:60px;line-height:60px;border:1px solid #aaaaaa;background:#fff;text-align:center;box-sizing:border-box;font-family:'Noto-M';border-radius:8px}
.cht08 li + li{margin-left:30px}
*/
/* greeting 
.bg_greeting{background:url(../image/bg_greeting.png) center 374px no-repeat}
.tit_greeting, .cnt_greeting{padding-left:52px}
.tit_greeting h3{padding-top:110px;font-size:36px;line-height:50px;color:#111111;font-family:'Noto-DL'}
.tit_greeting .cnt{display:block;padding-top:30px;font-size:18px;font-family:'Noto-M'}
.tit_greeting .sign{display:block;height:34px;padding-top:21px;background:url(../image/ico_sign.png) 0 21px no-repeat;text-indent:-9999px}
.cnt_greeting{padding-top:45px;}
.cnt_greeting p{line-height:28px;padding-bottom:0;font-size:18px}
.cnt_greeting p:nth-child(2n){padding-bottom:28px}

*/

/* tab 
.tabbox{position:relative}

.tab ul li{float:left;width:25%;height:70px;border:1px solid #dddddd;border-right:0;border-bottom:1px solid #445fb7;background:#f5f5f5;box-sizing:border-box}
.tab ul li:last-child{border-right:1px solid #dddddd}
.tab ul li.on{border:1px solid #445fb7;border-bottom:1px solid #ffffff;background:#ffffff}
.tab ul li.on + li{border-left:0}
.tab ul li a{display:block;text-align:center;line-height:70px;color:#555555;font-size:18px}
.tab ul li.on a{color:#445fb7;font-family:'Roboto','Noto-M'}

.tab_cont{margin-top:60px}
.tab_cont > div{display:none}
.tab_cont > div.on{display:block} */


/* history 
.history{border-top:2px solid #333333;border-bottom:1px solid #333333}
.history .box.line{border-top:1px solid #dddddd}
.history .box::after{content:'';display:block;clear:both}
.history .box:last-child .cnt_list{border-bottom:0}
.history .box > div{float:left}
.history .box .year{width:280px;font-size:40px;padding:43px 0;color:#111111;font-family:'Noto-M'}
.history .box .cnt_list{width:calc(100% - 280px);padding:45px 0;border-bottom:1px solid #dddddd}
.history .box .cnt_list.no_line{border-bottom:0px}
.history .box .cnt + .cnt{margin-top:28px}
.history .box .cnt .cal, .history .box .cnt .info{display:inline-block;vertical-align:top}
.history .box .cnt .cal{width:145px;font-size:20px;color:#445fb7;font-family:'Noto-M'}
.history .box .cnt .info{width:calc(100% - 150px);font-size:18px;line-height:18px}
*/

/* accordion 
.accordion{position:relative;border-top:1px solid #333333}
.accordion > ul > li > a{display:block;height:60px;line-height:60px;border-bottom:1px solid #dddddd;padding-left:30px;box-sizing:border-box;font-size:16px;font-family:'Roboto-M','Noto-M';background:url(../image/ico_acc_plus.png) right 30px center no-repeat}
.accordion > ul > li.on > a{color:#01b5af;background:url(../image/ico_acc_minus.png) right 30px center no-repeat}
.accordion > ul > li .cnt{display:none;padding:30px;background:#f7f7f7}
.accordion > ul > li.on .cnt{display:block}
.accordion > ul > li .cnt .txt_pag + .txt_pag{padding-top:24px}
.accordion > ul > li .cnt .txt_pag p{line-height:24px}
.accordion > ul > li .cnt .txt_pag .list{padding-left:7px}
*/

/* box_down 
.box_down{position:relative}
.box_down ul::after{content:"";display:block;clear:both}
.box_down li{float:left;width:280px;border:1px solid #dddddd;border-radius:7px;padding:30px 0;margin:0 20px 20px 0;box-sizing:border-box;text-align:center}
.box_down li:nth-child(4n){margin-right:0}
.box_down li p{font-size:16px;color:#111111;font-family:'Roboto-M', 'Noto-M', sans-serif;margin-bottom:25px}

.box_down.col2 li{width:580px}
.box_down.col2 li:nth-child(2n){margin-right:0}

.box_down.col1 li{width:100%}
*/

/* box_step 
.box_step > ul::after{content:'';display:block;clear:both}
.box_step > ul > li{position:relative;float:left;width:360px;height:210px;padding:40px 30px;text-align:center;background:url(../image/bg_step01.png) 0 0 no-repeat;box-sizing:border-box}
.box_step > ul > li + li{margin-left:45px}
.box_step > ul > li + li::before{content:'';position:absolute;top:50%;left:-33px;margin-top:-13px;width:17px;height:26px;background:url(../image/ico_steparrow.png)}
.box_step > ul > li p{color:#111111;padding-top:85px;line-height:24px}
.box_step > ul > li p.icon01{padding-top:75px;background:url(../image/ico_step01.png) center 16px no-repeat}
.box_step > ul > li p.icon02{background:url(../image/ico_step02.png) center 15px no-repeat}
.box_step > ul > li p.icon03{background:url(../image/ico_step03.png) center 14px no-repeat}
.box_step > ul > li p.icon04{background:url(../image/ico_step04.png) center 26px no-repeat}
.box_step > ul > li p.icon05{background:url(../image/ico_step05.png) center 24px no-repeat}
.box_step > ul > li p.icon06{background:url(../image/ico_step06.png) center 26px no-repeat}

.box_step.list > ul > li{height:auto}
.box_step.list ul li ul{margin-top:80px}
.box_step.list ul li ul li{position:relative;line-height:24px;text-align:left;padding-left:10px}
.box_step.list ul li ul li::before{content:'';position:absolute;top:10px;left:0px;width:4px;height:4px;background:#333333;border-radius:50%}
.box_step.list ul li ul li + li{margin-top:3px}

.box_step.type2 > ul > li{width:170px;height:170px;background:url(../image/bg_step02.png) 0 0 no-repeat;padding:20px}
.box_step.type2 > ul > li + li{margin-left:32px}
.box_step.type2 > ul > li + li::before{left:-24px}
.box_step.type2 > ul > li p{padding-top:42px}
.box_step.type2 > ul > li p.line3{padding-top:30px}
.box_step.type2 > ul > li p.line1{padding-top:55px}

.box_step.type3 > ul > li{width:210px;height:210px;background:url(../image/bg_step03.png) 0 0 no-repeat;}
.box_step.type3 > ul > li + li{margin-left:32px}
.box_step.type3 > ul > li + li::before{left:-24px}
.box_step.type3 > ul > li p{padding-top:42px}
.box_step.type3 > ul > li p.line3{padding-top:30px}
.box_step.type3 > ul > li p.line1{padding-top:55px}
*/

/* box_stepcom 

.box_stepcom > ul > li{position:relative;float:left}
.box_stepcom > ul > li + li{margin-left:30px}
.box_stepcom > ul > li .tit{height:50px;line-height:50px;margin-bottom:20px;box-sizing:border-box;border:1px solid #888888;text-align:center;border-radius:8px;background:#f7f7f7;font-size:18px;font-family:'Roboto-M','Noto-M',sans-serif}
.box_stepcom > ul > li ul + ul{margin-top:20px}
.box_stepcom > ul > li > div, .box_stepcom > ul > li > ul{border:1px solid #dddddd}
.box_stepcom .step{width:330px}
.box_stepcom .process{width:458px}
.box_stepcom .company{width:331px}

.box_stepcom .step > div{text-align:center;color:#445fb7;box-sizing:border-box}
.box_stepcom .step > div + div{margin-top:20px}
.box_stepcom .step > div:nth-child(2), .box_stepcom .step > div:nth-child(4){height:247px;line-height:247px}
.box_stepcom .step > div:nth-child(3){height:100px;line-height:100px}
.box_stepcom .process li, .box_stepcom .company li{height:49px;line-height:49px;box-sizing:border-box}
.box_stepcom .process li{text-align:center}
.box_stepcom .process li + li{border-top:1px solid #dddddd}
.box_stepcom .process ul + ul{position:relative}
.box_stepcom .process ul + ul::after{content:"";display:block;clear:both;position:absolute;width:2px;height:20px;background:#dddddd;top:-21px;left:50%;margin-left:-1px}
.box_stepcom .company li{padding-left:20px}
.box_stepcom .company li + li{border-top:1px solid transparent}

*/