@charset "UTF-8";

@font-face{
    font-family:'Noto-DL';
    font-style: normal;
    src :    url(../font/NotoSansKR-DemiLight.otf) format("truetype"),
    url(../font/NotoSansCJKkr-DemiLight.woff) format("woff");
            
}
@font-face{
    font-family:'Noto-R';
    font-style: normal;
    src :    url(../font/NotoSansKR-Regular.otf) format("truetype"),
    url(../font/NotoSansCJKkr-Regular.woff) format("woff");
}
@font-face{
    font-family:'Noto-M';
    font-style: normal;
    src :    url(../font/NotoSansKR-Medium.otf) format("truetype"),
    url(../font/NotoSansCJKkr-Medium.woff) format("woff");
}
@font-face{
    font-family:'Noto-B';
    font-style: normal;
    src :   url(../font/NotoSansKR-Bold.otf) format("truetype"),
    url(../font/NotoSansCJKkr-Bold.woff) format("woff");
}

@font-face{
    font-family:'Roboto';
    src : url(../font/Roboto-Regular.ttf);
    font-style: normal;
}
@font-face{
    font-family:'Roboto-M';
    src : url(../font/Roboto-Medium.ttf);
    font-style: normal;
}
@font-face{
    font-family:'Roboto-B';
    src : url(../font/Roboto-Bold.ttf);
    font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button,textarea,select,input{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto', 'Noto-DL', sans-serif;
    color:#333333;
    letter-spacing:-1px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, header {
	display: block;
}
a{text-decoration: none;}
button{border:none;border-radius:0;cursor: pointer;background-color: transparent}
html, body{height:100%;}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea{resize: none;display: block;width: 100%;box-sizing: border-box;}
select {
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    /* background: url(이미지 경로) no-repeat 95% 50%;  화살표 모양의 이미지 */
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}
/* ::selection{background: #2f2fd3;color:#fff}
::-moz-selection{background: #2f2fd3;color:#fff} */

/* ios input */
input[type="text"],
input[type="password"]{-webkit-appearance: none;}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* WebKit browsers */ color:#aaa; }
input:-moz-placeholder,
textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ color:#aaa; }
input::-moz-placeholder,
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#aaa; } 
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; }
input:focus:-moz-placeholder, 
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; } 
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; } 
input:focus:-ms-input-placeholder, 
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }

input[readonly=readonly]:focus::-webkit-input-placeholder,
textarea[readonly=readonly]:focus::-webkit-input-placeholder { /* WebKit browsers */ color:#aaa; }
input[readonly=readonly]:focus:-moz-placeholder,
textarea[readonly=readonly]:focus:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ color:#aaa; }
input[readonly=readonly]:focus::-moz-placeholder,
textarea[readonly=readonly]:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#aaa; } 
input[readonly=readonly]:focus:-ms-input-placeholder,
textarea[readonly=readonly]:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:#aaa; }

.per50{width:50%}
.per100{width:100%}

.mt0{margin-top: 0px !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top:50px !important}
.mt60{margin-top:50px !important}
.mt100{margin-top:100px !important}

.mb10{margin-bottom: 10px;}

.w80{width: 80px !important;}
.w150{width: 150px !important;}
.w200{width: 200px !important;}

.fwb{font-weight: bold !important;}
.fwn{font-weight: normal !important;}

.fs16{font-size:16px !important}
.fs18{font-size:18px !important}
.fs20{font-size:20px !important}

.cl_blue{color:#445fb7 !important}
.cl_red{color:#ff4040 !important}
.cl_orange{color:#ed9333 !important}


.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}

.cb::after{content:"";display:block;clear:both}

.bt0{border-top:0px !important}
.bl0{border-left:0px !important}
.br0{border-right:0px !important}
.bb0{border-bottom:0px !important}

.ftm{font-family:'Roboto-M','Noto-M', sans-serif}

.fl{float:left}
.fr{float:right}

.pb0{padding-bottom:0px !important}