@charset "UTF-8";



/* 메인 공통 */
.wrap{height: 100dvh;}
.wrap *{font-family: Pretendard;}
header{background: #2962F6;}
header nav{display:flex;align-items: center;justify-content: center;gap: 10px;height: 104px;padding:30px 23px 37px;box-sizing: border-box;}
header nav a{display: inline-block;flex:1;font-weight: 600;font-size: 22px;color:#fff;text-decoration: none;text-align: center;opacity: 0.5;}
header nav a.on{opacity: 1;}
header nav a.on:after{opacity: 1;}
header nav a:after{content:'';display:block;width: 5px;height: 5px;border-radius: 50%;background: #fff;margin: 5px auto 0;opacity: 0;}

.contents{display: flex;flex-direction: column;max-width: 500px;min-height: calc(100% - 90px);margin: -20px auto 0;padding: 0 0 70px;box-sizing: border-box;background: #fff;border-radius: 20px 20px 0 0;box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.05);}
.contents_inner{padding:20px;display: flex;flex-direction: column;height: 100%;box-sizing: border-box;flex:1}
.contents_inner > *{flex:none}
.contents_inner h2{font-size: 28px;font-weight: 600;color:#000}
.contents_inner h3{font-size: 18px;font-weight: 700;margin-bottom: 15px;}

article{margin-top: 50px;}
article.full{margin: 0px -20px 0;padding:20px;border-top: 10px solid #F1F3F5;}

.nav_bar{position: fixed;bottom:0;left:0;right:0;height: 70px;background: #FFF;box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.05);z-index: 100;}
.nav_bar nav {display: flex;align-items: center;width: 100%;height: 100%;}
.nav_bar nav a{flex:1;display: inline-block;text-decoration: none;font-size: 11px;text-align: center;color:#495057}
.nav_bar nav a:before{content:'';display: block;width: 25px;height: 25px;margin: 0 auto 5px;}
.nav_bar nav a:nth-child(1):before{background: url(../images/ico_navbar01.svg) center no-repeat;}
.nav_bar nav a:nth-child(2):before{background: url(../images/ico_navbar02.svg) center no-repeat;}
.nav_bar nav a:nth-child(3):before{background: url(../images/ico_navbar03.svg) center no-repeat;}
.nav_bar nav a:nth-child(4):before{background: url(../images/ico_navbar04.svg) center no-repeat;}
.nav_bar nav a.active{color: #2962F6;}
.nav_bar nav a.active:nth-child(1):before{background: url(../images/ico_navbar01_ac.svg) center no-repeat;}
.nav_bar nav a.active:nth-child(2):before{background: url(../images/ico_navbar02_ac.svg) center no-repeat;}
.nav_bar nav a.active:nth-child(3):before{background: url(../images/ico_navbar03_ac.svg) center no-repeat;}
.nav_bar nav a.active:nth-child(4):before{background: url(../images/ico_navbar04_ac.svg) center no-repeat;}
.nav_bar nav a.active.on:nth-child(1):before{background: url(../images/ico_navbar01_on.svg) center no-repeat;}

.schbox{position: relative;display: flex;align-items: center;}
.schbox input[type=text]{width: 100%;height: 50px;padding: 10px 45px 10px 15px;box-sizing: border-box;border-radius: 8px;border: 1px solid #DEE2E6;background: #FFF;font-size: 15px;}
.schbox button{position: absolute;right:16px;width: 25px;height: 25px;background: url(../images/ico_sch.svg) center no-repeat;}
.schbox.cancle button{background: url(../images/ico_sch_cancle.svg) center no-repeat;}
.schbox.chat input{border: 2px solid #2962F6;}
.schbox.chat button{background: url(../images/ico_sch_chat.svg) center no-repeat;}

.schlink{display: flex;align-items: center;margin-top: 15px;}
.schlink a{display: inline-block;position: relative;font-size: 15px;color:#212529;font-weight: 600;line-height: 130%;text-decoration: none;}
.schlink a + a{margin-left: 20px;}
.schlink a + a::before{content: '';position: absolute;left:-10px;top:4px;height: 10px;border-left: 1px solid #DEE2E6;}

.home_banner{display: flex;flex-direction: column;justify-content: center;height: 100px;margin-top: 30px;padding:0 90px 0 30px;box-sizing: border-box;background:#E5EDFF url(../images/bg_home_banner.png) center right 30px no-repeat;background-size: 60px 83px;border-radius: 10px;}
.home_banner p{font-size: 14px;font-weight: 500;line-height: 130%;color:#868E96;}
.home_banner p.tit{font-size: 17px;font-weight: 700;color:#212529;margin-bottom: 5px;;}
.home_banner + article{margin-top: 30px;}

.home_cont{display: grid;grid-template-columns: 1fr 1fr;gap: 15px;}
.home_cont p{font-size: 14px;font-weight: 600;}
.home_cont .img{display: block;width: 100%;height: 100px;margin-bottom: 10px;background:#FFDEEB url(../images/img_home01.png) center bottom no-repeat;background-size: 86px 91px;border-radius: 6px;}
.home_cont li:nth-child(2) .img{background:#D0EBFF url(../images/img_home02.png) center bottom no-repeat;background-size: 86px 92px;}
.home_cont li:nth-child(3) .img{background:#CEF6EA url(../images/img_home03.png) center bottom no-repeat;background-size: 68px 92px;}
.home_cont li:nth-child(4) .img{background:#f3d9fa url(../images/img_home04.svg) center bottom no-repeat;}

.btn_more{width: 100%;height: 45px;margin-top: 15px;display: flex;align-items: center;justify-content: center;border:1px solid #DEE2E6;border-radius: 6px;background: #fff;color:#343A40;font-size: 15px;font-weight: 600;}
.btn_more:after{content: '';width: 25px;height: 25px;background: url(../images/ico_btn_more.svg) center no-repeat;margin-left: 5px;}

.list_board li+li{border-top: 1px solid #E9ECEF;margin-top: 14px;padding-top: 14px;}
.list_board li a{display: flex;align-items: center;}
.list_board li p{font-size: 15px;font-weight: 600;color:#212529;}
.list_board li span{margin-left: auto;flex:none;font-size: 15px;color:#868E96;}
.list_board li a::before{content:'분류1';display: inline-block;padding: 5px;border-radius: 5px;background-color: #E5EDFF;color:#212529;font-size: 13px;font-weight: 600;margin-right: 10px;}
.list_board li.type2 a::before{content:'분류2';background-color: #FFDEEB;}

.sw_home{margin-right:-20px;}
.sw_home .swiper-slide{width: 251px;}
.sw_home .swiper-slide:last-child{margin-right: 20px;}
.sw_home .grp_hospi .tit{font-size: 14px;}

.sw_partner{margin-right:-20px;}
.sw_partner .swiper-slide{width: 251px;}
.sw_partner .swiper-slide:last-child{margin-right: 20px;}
.sw_partner .grp_hospi .tit{font-size: 15px;}
.sw_partner .grp_hospi .txt{font-size: 13px;}

.grp_hospi{position: relative;}
.grp_hospi .grp_badge{position: absolute;top:10px;left: 10px;display: flex;align-items: center;}
.grp_hospi .badge{padding:6px 10px 4px;height: 24px;border-radius: 35px;background:#2962F6;box-sizing: border-box;font-size: 11px;font-weight: 600;color:#fff;margin-right: 5px;}
.grp_hospi .badge.sky{background: #E5EDFF;color:#2962F6;}
.grp_hospi img{display: block;width: 100%;}
.grp_hospi .tit{color:#212529;font-size: 18px;font-weight: 700;margin-top: 10px;}
.grp_hospi .txt{font-size: 15px;font-weight: 600;color:#ADB5BD;margin-top: 5px;}

.box_chat{flex:1;border-radius: 10px;display: flex;align-items: center;justify-content: center;background: #F1F3F5;font-size: 15px;color:#868E96;margin-bottom: 15px;}

.pop_alert{padding:20px;background: #E5EDFF;margin: 20px -20px -24px;}
.pop_alert p{font-size: 14px;line-height: 130%;color:#636363;}
.pop_alert .tit{display: flex;align-items: center;font-size: 15px;font-weight: 700;margin-bottom: 5px;color:#212529}
.pop_alert .tit .btn_close{display: inline-block;width: 15px;height: 15px;background: url(../images/btn_close.svg) no-repeat center;margin-left: auto;}

.tab{position: sticky;top: 0px;display: flex;align-items: center;background: #fff;z-index: 10;padding-top: 10px;margin: -10px -20px 0;border-bottom: 1px solid #E9ECEF;border-radius: 20px 20px 0 0;}
.tab li{flex:1;text-align: center;}
.tab li a{display: flex;align-items: center;justify-content: center;height: 39px;font-size: 16px;font-weight: 500;color:#ADB5BD;}
.tab li.on a{color:#2962F6;font-weight: 700;}
.tab li.on a span{font-weight: 700;border-bottom: 2px solid #2962F6;padding: 9px 0;}

.grp_h3{display: flex;align-items: center;margin-bottom: 15px;}
.grp_h3 h3{margin-bottom: 0;}
.grp_h3 .btn_all{display: inline-flex;align-items: center;margin-left: auto;font-size: 14px;font-weight: 500;color:#868E96;}
.grp_h3 .btn_all.arrow:after{content: '';display: inline-block;width: 25px;height: 25px;margin-left: auto;background: url(../images/ico_arrow.svg) no-repeat center;}
.grp_h3 .btn_add{display: inline-block;margin-left: auto;background: #DBE4FF url(../images/ico_add.svg) no-repeat left 5px center;padding:5px 8px 5px 25px;border-radius: 5px;font-size: 13px;font-weight: 600;color:#4C6EF5}

.list_step{counter-reset: ct_step;}
.list_step li{position: relative;margin-left: 40px;background-color: #F1F3F5;border-radius: 6px;padding:15px;}
.list_step li+li{margin-top: 20px;}
.list_step li:before{counter-increment: ct_step;content: counter(ct_step);position: absolute;top: 0;left:-40px;display: flex;align-items: center;justify-content: center;width: 25px;height: 25px;font-size: 15px;font-weight: 500;color:#fff;background: #2962F6;border-radius: 50%;}
.list_step li .tit{font-size: 15px;font-weight: 700;color:#212529}
.list_step li .txt{margin-top: 10px;font-size: 14px;line-height: 150%;color:#868E96}
.list_step li button{display: flex;align-items: center;justify-content: center;width: 100%;height: 45px;margin-top: 10px;padding:10px 30px;background: #E5EDFF;color:#2962F6;font-size: 14px;font-weight: 600;border-radius: 8px;box-sizing: border-box;}

.sw_wiki{margin-right:-20px;}
.sw_wiki .swiper-slide{width: 310px;}
.sw_wiki .swiper-slide:last-child{margin-right: 20px;}
.grp_wiki{border-radius: 8px;background: #E5EDFF;padding: 15px;box-sizing: border-box;}
.grp_wiki .tit{font-size: 18px;font-weight: 700;color:#2962F6;}
.grp_wiki .sub_tit{font-size: 15px;font-weight: 500;color:#212529;margin-top: 10px;}
.grp_wiki .txt{margin-top: 5px;font-size: 14px;line-height: 150%;color:#495057}
.grp_wiki a{margin-top: 15px;display: flex;align-items: center;justify-content: center;width: 100%;height: 40px;border-radius: 6px;background: #fff;color:#343A40;font-size: 13px;font-weight: 600;}


.list_acco li button{display: block;padding: 15px 0;background: #fff;width: 100%;}
.list_acco li+li{border-top:1px solid #E9ECEF}
.list_acco li .tit{display: flex;align-items: center;font-size: 15px;font-weight: 600;color:#212529;width: 100%;text-align: left;}
.list_acco li .tit:after{content:'';display: inline-block;width: 25px;height: 25px;margin-left: auto;background: url(../images/ico_acco.svg) no-repeat center;}
.list_acco li .cont{display: none;margin-top: 15px;font-size: 13px;color:#495057;line-height: 130%;text-align: left;}
.list_acco li.on {margin: 0 -20px;}
.list_acco li.on button{background: #E5EDFF;padding:15px 20px}
.list_acco li.on .tit:after{transform: rotate(-180deg);}
.list_acco li.on + li{border-top: 0;}
.list_acco li.on + li.on{border-top: 1px solid #ddd;}

.btn_noti{margin-top: 20px;display: flex;align-items: center;width: 100%;height: 57px;padding:10px;border:1px solid #E9ECEF;border-radius: 10px;box-sizing: border-box;color: #212529;font-size: 15px;font-weight: 600;;}
.btn_noti:before{content: '공지';display: inline-block;padding: 5px;color:#212529;font-size: 13px;font-weight: 600;border-radius: 5px;background: #E5EDFF;margin-right: 10px;flex: none;}
.btn_noti:after{content: '';display: inline-block;width: 25px;height: 25px;margin-left: auto;background: url(../images/ico_arrow.svg) no-repeat center;}
.btn_noti.event:before{content:'이벤트';background: #FFDEEB;}

.box_noti{flex:1;margin-top: 20px;display: flex;flex-direction: column;}
.box_noti .tit{font-size: 15px;font-weight: 600;color:#212529;flex:none}
.box_noti li a{position: relative;display: block;padding:15px 0 15px 60px;}
.box_noti li+li{border-top: 1px solid #E9ECEF;}
.box_noti li a:before{content: '';position: absolute;top: 15px;left:0px;width: 45px;height: 45px;background: #E5EDFF url(../images/ico_noti.svg) no-repeat center;border-radius: 50%;}
.box_noti li p{font-size: 15px;font-weight: 500;color:#212529;line-height: 145%;}
.box_noti li .date{font-size: 13px;font-weight: 500;margin-top: 10px;color:#ADB5BD}
.box_noti ul:empty{display: flex;flex-direction: column;align-items: center;justify-content: center;flex:1}
.box_noti ul:empty::before{content:'알림이 없습니다.';color:#212529;font-size: 18px;font-weight: 600;}
.box_noti ul:empty::after{content:'새로운 알림이 오면 알려드릴게요.';color: #868E96;font-size: 15px;font-weight: 600;margin-top: 5px;}

.box_IS{margin-top: 20px;flex:1}
.box_IS .grp_empty{display: none;}
.box_IS .grp_tit{margin-top: 20px;font-size: 15px;font-weight: 600;color:#212529;border-bottom: 1px solid #E9ECEF;padding-bottom: 10px;}
.box_IS .grp_tit span{display: inline-block;font-size: 15px;font-weight: 600;margin-left: 8px;color:#2962F6}
.box_IS ul li a{display: flex;align-items: center;width: 100%;padding: 10px 0;}
.box_IS ul li a img{flex:none;width: 45px;height: 45px;display: inline-block;margin-right: 15px;}
.box_IS ul li a .tit{flex:1;font-size: 15px;font-weight: 700;line-height: 145%;color:#212529;padding-right: 25px;background: url(../images/ico_arrow.svg) no-repeat center right;}
.box_IS ul li a .tit .company{display: block;font-size: 13px;line-height: 130%;font-weight: 500;color:#ADB5BD;margin-bottom: 3px;}

.box_IS.empty {display: flex;flex-direction: column;flex:1;}
.box_IS.empty .grp_empty{display: flex;align-items: center;justify-content: center;flex-direction: column;flex:1;}
.box_IS.empty .grp_empty p{font-size: 18px;font-weight: 600;color: #212529;}
.box_IS.empty .btn_cm{margin-top: 24px;}

.sub_h2{margin-top: 10px;font-size: 15px;font-weight: 500;line-height: 150%;color:#848484}

.btn_cm{display: flex;align-items: center;justify-content: center;width: 100%;height: 60px;box-sizing: border-box;border-radius: 6px;padding:8px;background: #2962F6;color:#fff;font-size: 16px;font-weight: 600;}
.btn_cm.sky{background: #E5EDFF;color:#2962F6;}
.btn_cm.white{height: 50px;background: #fff;color:#2962F6;border:1px solid #2962F6}
.btn_cm.white.add::before{content:'';display: inline-block;width: 22px;height: 22px;margin-right: 5px;background: url(../images/ico_btn_white_add.svg) no-repeat center;}
.btn_cm.kakao{background: #FEE500;color:#181600;font-size: 14px;letter-spacing: 0.7px;font-weight: 700;}
.btn_cm.kakao::before{content:'';display: inline-block;width: 30px;height: 30px;margin-right: 10px;background: url(../images/ico_kakao.svg) no-repeat center;}

.btn_certi{display: flex;align-items: center;width: 100%;padding:20px;border-radius: 6px;box-sizing: border-box;margin-bottom: 15px;}
.btn_certi p{font-size: 16px;font-weight: 700;line-height: 145%;color:#fff;text-align: left;}
.btn_certi p .date{display: none;font-size: 14px;font-weight: 500;line-height: 130%;color: #E9ECEF;}
.btn_certi::before{content:'';display: inline-block;width: 45px;height: 45px;margin-right: 15px;}
.btn_certi::after{content: '가져오기';display: inline-block;margin-left: auto;font-size: 15px;font-weight: 600;color:#fff;padding-left: 23px;background: url(../images/ico_certi_plus_n.svg) no-repeat left center;}
.btn_certi.naver{background: #03C75A;}
.btn_certi.naver::before{background: url(../images/ico_certi_naver.svg) no-repeat center;}
.btn_certi.kakao{background: #FAE100;}
.btn_certi.kakao p{color:#212529}
.btn_certi.kakao p .date{color:#495057}
.btn_certi.kakao::before{background: url(../images/ico_certi_kakao.svg) no-repeat center;}
.btn_certi.kakao::after{background: url(../images/ico_certi_plus_k.svg) no-repeat left center;color:#020303}
.btn_certi.on p .date{display: block;}
.btn_certi.on::after{content: '';width: 25px;height: 25px;padding:0}
.btn_certi.naver.on::after{background: url(../images/ico_certi_arrow_n.svg) no-repeat center;}
.btn_certi.kakao.on::after{background: url(../images/ico_certi_arrow_k.svg) no-repeat center;}

.grp_profile{display: flex;align-items: center;}
.grp_profile .img{position: relative;flex:none;width: 80px;height: 80px;box-sizing: border-box;border-radius: 50%;background: #DBE4FF;text-align: center;margin-right: 15px;cursor: pointer;}
.grp_profile .img:after{content: '';position: absolute;right:0;bottom:0;width: 23px;height: 23px;background:#E9ECEF url(../images/ico_camera.svg) no-repeat center;border-radius: 50%;}
.grp_profile .img input{position: absolute;top:0;left: 0;width: 100%;height: 100%;visibility: hidden;}
.grp_profile a{display: flex;flex:1;align-items: flex-start;flex-direction: column;padding-right: 40px;background: url(../images/ico_arrow.svg) no-repeat center right;}
.grp_profile a .txt_id{font-size: 18px;font-weight: 600;line-height: 130%;color:#212529}
.grp_profile a .txt_number{font-size: 15px;margin-top: 5px;color:#868E96}

.list_profile{display: flex;align-items: center;width: 100%;margin-top: 20px;border-top: 1px solid #E9ECEF;padding:20px 0}
.list_profile li{flex:1}
.list_profile li a{display: flex;align-items: center;flex-direction: column;;}
.list_profile li a::before{content: '';width: 30px;height: 30px;display: block;}
.list_profile li a p{font-size: 13px;font-weight: 600;color:#2962F6}
.list_profile li a p.tit{margin: 10px 0 3px;font-size: 15px;font-weight: 500;color:#212529}
.list_profile li:nth-child(1) a::before{background: url(../images/ico_listpro01.svg) no-repeat center ;}
.list_profile li:nth-child(2) a::before{background: url(../images/ico_listpro02.svg) no-repeat center ;}
.list_profile li:nth-child(3) a::before{background: url(../images/ico_listpro03.svg) no-repeat center ;}
.list_profile li:nth-child(4) a::before{background: url(../images/ico_listpro04.svg) no-repeat center ;}

.list_menu {}
.list_menu li +li{border-top: 1px solid #E9ECEF;margin-top: 12px;padding-top: 12px;}
.list_menu li a{display: flex;align-items: center;width: 100%;height: 30px;flex:1;font-size: 15px;font-weight: 500;line-height: 130%;color:#212529;padding-right: 25px;background: url(../images/ico_arrow.svg) no-repeat center right;box-sizing: border-box;}

/* 인풋 공통 */
.box_ipt{margin-top: 30px;}
.box_ipt + .box_ipt{margin-top: 50px;padding-top: 50px;border-top: 1px solid #E9ECEF;}

.grp_form+.grp_form,
.grp_flex+.grp_form,
.grp_flex+.grp_flex{margin-top: 30px;}
.grp_form > p{font-weight: 600;font-size: 16px;color: #212529;margin-bottom: 10px;}
.grp_form > p span{font-size: 14px;margin-left: 6px;}
.grp_form > p.flex{display: flex;align-items: center;}
.grp_form > p.flex .btn_del{margin-left: auto;padding:6px 6px 6px 29px;color:#E64980;font-size: 13px;font-weight: 600;background: #FFDEEB url(../images/ico_remove.svg) no-repeat center left 8px;border-radius: 5px;}
.grp_form > .btn_cm+.btn_cm{margin-top: 10px;}

.grp_flex{display: flex;align-items: center;gap: 40px;}
.grp_flex > .grp_form{flex:1;margin: 0;}
.grp_input{display: flex;align-items: center;}
.grp_input > input[type="text"],
.grp_input > input[type="password"],
.grp_input > textarea,
.grp_input > .grp_sch,
.grp_input > .grp_file{flex:1}
.grp_input > input[type="text"]:focus,
.grp_input > input[type="password"]:focus,
.grp_input > textarea:focus,
.grp_input > .grp_sch:focus,
.grp_input > .grp_file:focus,
.grp_input select:focus{outline: 1px solid #2962F6;}
.grp_input > *[style*="width"]{flex:none}
.grp_input > *+*{margin-left: 10px;}
.grp_input > span{font-weight: 500;font-size: 20px;line-height: 25px;color: #212631;flex:none}
.grp_input input[type="text"],
.grp_input input[type="password"]{width: 100%;height: 50px;padding: 10px 15px;box-sizing: border-box;border-radius: 8px;border: 1px solid #DEE2E6;background: #FFF;font-size: 15px;}
.grp_input textarea{width: 100%;height: 50px;padding: 10px 15px;box-sizing: border-box;border-radius: 8px;border: 1px solid #DEE2E6;background: #FFF;font-size: 15px;resize: none;}
.grp_input input[type="text"]::placeholder,
.grp_input input[type="password"]::placeholder,
.grp_input textarea::placeholder{color: #ADB5BD;}
.grp_input select{width: 100%;height: 50px;padding: 10px 40px 10px 15px;background:#fff url(../images/ico_acco.svg) no-repeat right 10px center;border-radius: 8px;border: 1px solid #DEE2E6;font-size: 15px;appearance: none;-webkit-appearance: none;-moz-appearance: none; }
.grp_input select::-ms-expand{display:none;}
.grp_input .btn{padding:10px 15px;height: 50px;border-radius: 8px;background-color: #E5EDFF;font-size: 15px;font-weight: 600;color:#343A40}

.grp_sch {position: relative;display: flex;}
.grp_sch input[type="text"]{padding-right: 60px;}
.grp_sch input[type="text"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_sch.png) no-repeat center;}
.grp_file {position: relative;display: flex;}
.grp_file input[type="text"]{padding-right: 60px;}
.grp_file input[type="text"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_file.png) no-repeat center;}
.grp_sch.password {position: relative;display: flex;}
.grp_sch.password input[type="password"]{padding-right: 60px;}
.grp_sch.password input[type="password"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_pw.png) no-repeat center;}

.grp_radio{display: flex;width: 100%;}
.grp_radio input{display: none;}
.grp_radio label{flex:1;padding: 0;font-weight: 600;font-size: 15px;color:#212529;border: 1px solid #DEE2E6;background: #fff;border-radius: 8px;box-sizing: border-box;cursor: pointer;margin-right: 10px;height: 50px;display: flex;align-items: center;justify-content: center;}
.grp_radio label:last-child{margin-right: 0;}
.grp_radio input[type="radio"]:checked + label{border-color:#2962F6;color:#2962F6;box-shadow: inset 0 0 0 0.5px #2962F6;}
.grp_radio.img {width: 100%;}
.grp_radio.img label::before{content: '';display: block;width: 38px;height: 34px;background: url("../images/img_radio01.png") no-repeat center;background-size: contain;box-sizing: border-box;margin-right: 5px;}
.grp_radio.img label:last-child{margin-right: 0;}
.grp_radio.img label:last-child::before{width: 40px;height: 35px;background: url("../images/img_radio02.png") no-repeat center;background-size: contain;}

.grp_radio2 { display:flex; align-items: center;position: relative;} 
.grp_radio2 input[type="radio"] { position: absolute;left:1px;top:1px;width: 0px;height: 0px;} 
.grp_radio2 input[type="radio"]:focus + label{outline: 2px solid #000;border-radius: 3px;}
.grp_radio2 label { display:inline-flex; align-items: center; font-size: 18px; color:#343A40; cursor: pointer;font-weight: 500;} 
.grp_radio2 label:before { content:'';flex:none; display: inline-block; margin-right:5px; width:32px; height: 32px; border:1px solid #DEE2E6; border-radius: 50%; box-sizing: border-box; background: #fff;z-index: 10;} 
.grp_radio2 label~label{margin-left: 20px;}
.grp_radio2 input[type="radio"]:checked + label:before { box-shadow: inset 0px 0px 0 7px #0063FF; }
.grp_radio2.tac{justify-content: center;}

.grp_check { display: flex; align-items: center;position: relative;}
.grp_check.tac{justify-content: center;}
ul.grp_check{display: flex;}
.grp_check > li+li{margin-left: 15px;}
.grp_check input[type="checkbox"] { position: absolute;left:1px;top:1px;width: 0px;height: 0px;} 
.grp_check input[type="checkbox"]:focus + label{outline: 2px solid #000;border-radius: 3px;}
.grp_check label { position: relative; display:inline-flex; align-items: center; padding-left: 42px; font-size: 18px; color:#000; cursor: pointer; line-height: 34px; font-weight: 700;} 
.grp_check label:before { content:''; flex:none;position: absolute;left:0; display: inline-block;margin-right: 5px; width:34px; height: 34px; border-radius:8px; box-sizing: border-box; background: #F3F4F6;border:1px solid #DEE2E6} 
.grp_check label:after { content: ''; position: absolute; left: 8px; top: 9px; width: 14px; height: 6px; border: 2px solid #DEE2E6; border-width: 0 0 4px 4px; transform: rotate(-45deg); } 
.grp_check input[type="checkbox"]:checked + label:before { background: #2962F6;}
.grp_check input[type="checkbox"]:checked + label:after{border-color: #fff;}
.grp_check > a{font-weight: 700;font-size: 16px;line-height: 26px;text-decoration-line: underline;color: #ADB5BD;margin-left: 10px;}
.grp_check.small label{font-size: 15px;line-height: 24px;padding-left: 32px;font-weight: 400;}
.grp_check.small label::before{width: 24px;height: 24px;border-radius: 4px;}
.grp_check.small label:after {left:6px;top:6px}

.grid_chk{display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 10px;}
.grid_chk label{position: relative;display: block;padding:15px 10px;border: 1px solid #DEE2E6;border-radius: 6px;box-sizing: border-box;}
.grid_chk label input{opacity: 0;position: absolute;top:5px;right: 5px;display: block;width: 25px;height: 25px;background:#E5EDFF url(../images/ico_check.svg) no-repeat center;-webkit-appearance: none;border-radius: 50%}
.grid_chk label img{display: block;width: 45px;height: 45px;margin: 0 auto;}
.grid_chk label span{display: block;text-align: center;margin-top: 15px;font-size: 15px;font-weight: 600;color:#212529}
.grid_chk label:has(input:checked){border-color:#2962F6}
.grid_chk label input:checked{opacity: 1;background:#2962F6 url(../images/ico_check_on.svg) no-repeat center;}

.grid_chk li.all{grid-column: 1/4}
.grid_chk li.all label{display: flex;align-items: center;justify-content: center;box-sizing: border-box;}
.grid_chk li.all label input{position: static;width: 22px;height: 22px;opacity: 1;background:transparent url(../images/ico_checkall.svg) no-repeat center;margin-right: 5px;}
.grid_chk li.all span{margin-top: 0;}
.grid_chk li.all label input:checked{background:transparent url(../images/ico_checkall_on.svg) no-repeat center;}
.grid_chk li.all label:has(input:checked) span{color:#2962F6}


/* page */
.wrap.page{display: flex;flex-direction: column;}
.page_tit{flex:none;position: relative;display: flex;align-items: center;justify-content: center;height: 60px;box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);z-index: 100;}
.page_tit .tit{font-size: 18px;font-weight: 600;color:#212529;}
.page_tit .btn_back{position: absolute;left:20px;width: 30px;height: 30px;background: url(../images/ico_arrow.svg) no-repeat center;transform: rotate(-180deg);}
.page_tit .btn_close{position: absolute;right:20px;width: 30px;height: 30px;background: url(../images/ico_close.svg) no-repeat center;transform: rotate(-180deg);}
.page_cont{padding: 20px;flex:1;overflow: auto;}
.page_cont h3{font-size: 18px;font-weight: 600;color:#000;margin-bottom: 15px;}
.page_cont .grp_h3 h3{margin-bottom: 0;}
.page_cont h3.type2{font-size: 22px;color:#1B1B1B;font-weight: 700;}
.page_cont h3.type2 + p{font-size: 15px;font-weight: 500;line-height: 150%;color:#848484;margin-top: 10px;}
.page_btn{flex: none;padding:20px}

.page_cont .page_tit{display: block;box-shadow: none;height: auto;}
.page_cont .page_tit .tit{font-size: 28px;line-height: 140%;}
.page_cont .page_tit .tit span{font-weight: 700;color:#2962F6}
.page_cont .page_tit .tit.small{font-size: 22px;}
.page_cont .page_tit .btn_close{top:0;right:0}

.cont_agree{margin-top: 20px;border-top:1px solid #E9ECEF;padding-top: 20px;}
.cont_agree .tit{font-size: 16px;font-weight: 700;line-height: 150%;color:#212529;margin-bottom: 5px;}
.cont_agree .cont{font-size: 15px;font-weight: 500;line-height: 150%;color:#868E96;margin-bottom: 20px;}
.cont_agree .cont.em{font-size: 17px;font-weight: 600;color:#2962F6}

.chk_agree{border:1px solid #DEE2E6;border-radius: 6px;background: #fff;padding:15px;margin-top: 20px;}
.chk_agree label{position: relative;display: flex;align-items: center;font-size: 15px;font-weight: 600;color:#212529}
.chk_agree label+label{margin-top: 15px;}
.chk_agree label input{display: inline-block;margin-right: 5px;width: 25px;height: 25px;background:#E5EDFF url(../images/ico_check.svg) no-repeat center;-webkit-appearance: none;border-radius: 50%}
.chk_agree label input:checked{opacity: 1;background:#2962F6 url(../images/ico_check_on.svg) no-repeat center;}


.list_tab{display: flex;align-items: center;overflow: auto;padding-bottom: 10px;margin:20px -20px 10px 0;}
.list_tab li+li{margin-left: 10px;}
.list_tab li:last-child{margin-right: 20px;}
.list_tab li a{display: inline-block;font-size: 15px;font-weight: 600;color:#2962F6;padding:10px 15px;flex:none;white-space: nowrap;border-radius: 19px;background: #E5EDFF;}
.list_tab li.on a{background: #2962F6;color:#fff}

.list_item{display: grid;grid-template-columns: 1fr 1fr;gap:10px;}
.list_item li a{border:1px solid #DEE2E6;display: flex;align-items: center;justify-content: center;height: 40px;box-sizing: border-box;border-radius: 6px;color:#212529;font-size: 14px;font-weight: 500;}

.txt_list_item{margin-top: 20px;font-size: 15px;font-weight: 400;line-height: 150%;color:#3C3C3C;padding-bottom: 20px;}
.tit_list_item{font-size: 16px;font-weight: 600;color:#3C3C3C;margin-bottom: 20px;}

.grp_hash{display: flex;align-items: center;}
.grp_hash button{font-size: 22px;font-weight: 600;color:#ADB5BD;background: transparent;}
.grp_hash button.on{color:#212529;font-weight: 700;}
.grp_hash button + button{margin-left: 15px;}
.txt_hash{margin-top: 5px;font-size: 16px;font-weight: 600;line-height: 150%;color:#868E96}

.list_nearhos{margin-top: 20px;}
.list_nearhos li{border:1px solid #DEE2E6;border-radius: 6px;padding:10px;}
.list_nearhos li .grp{display: flex;align-items: center;}
.list_nearhos li .grp img{flex:none;width: 70px;height: 70px;margin-right: 10px;}
.list_nearhos li .grp p{margin-top: 5px;font-size: 14px;font-weight: 500;line-height: 130%;color:#868E96}
.list_nearhos li .grp p.tit{font-size: 16px;font-weight: 700;color:#212529;}
.list_nearhos li .grp2{display: flex;align-items: center;flex-wrap: nowrap;margin-top: 10px;}
.list_nearhos li .grp2 p{font-size: 13px;font-weight: 600;line-height: 130%;color:#2962F6;background: #E5EDFF;border-radius: 35px;padding:6px 10px 4px;}
.list_nearhos li .grp2 p + p{margin-left: 10px;}
.list_nearhos li + li{margin-top: 17px;}

.list_dep{margin: 0 -20px;}
.list_dep li .grp_text{display: flex;align-items: center;padding: 10px 20px;}
.list_dep li .grp_text .tit{font-size: 16px;font-weight: 600;color:#212529}
.list_dep li .grp_text .right{display: inline-flex;align-items: center;margin-left: auto;}
.list_dep li .grp_text .right span{font-size: 16px;font-weight: 600;color:#212529}
.list_dep li .grp_text .right .num{color:#2962F6;margin-right: 6px;}
.list_dep li .grp_text.dep2{padding:10px 28px;background: #F1F3F5;}
.list_dep li .grp_text.dep2+.grp_text.dep2{padding-top: 0;}
.list_dep li .grp_text.dep2 .tit{font-size: 15px;font-weight: 400;color:#343A40}
.list_dep li .grp_text.dep2 .right span{font-size: 15px;font-weight: 400;color:#343A40}


/* login */
.wrap.login{background: #2962F6;display: flex;flex-direction: column;justify-content: center;align-items: center;min-height: 500px;}
.wrap.login h1.logo{width: 176px;height: 30px;background: url(../images/logo.svg) no-repeat center;}
.wrap.login .txt{margin-top: 20px;font-size: 28px;font-weight: 500;line-height: 140%;color:#fff;text-align: center;}
.wrap.login .txt strong{font-weight: 700;}
.wrap.login .btnbox{width: 100%;margin-top: 80px;padding: 0 20px;display: flex;flex-direction: column;align-items: center;box-sizing: border-box;}
.wrap.login .tooltip{padding: 8px 5px;background: url(../images/bg_tooltip.svg) no-repeat center;width: 175px;height: 44px;box-sizing: border-box;font-size: 14px;font-weight: 500;text-align: center;}
.wrap.login .btnbox button{display: flex;align-items: center;justify-content: center;width: 100%;height: 60px;border-radius: 6px;margin-top: 15px;font-size: 14px;font-weight: 700;letter-spacing: 0.7px;}
.wrap.login .btnbox button.kakao{background: #FEE500;color:#181600}
.wrap.login .btnbox button.kakao:before{content: '';display: inline-block;width: 30px;height: 30px;background: url(../images/ico_login_kakao.svg) no-repeat center;margin-right: 5px;}
.wrap.login .btnbox button.naver{background: #03C75A;color:#F6F1FB}
.wrap.login .btnbox button.naver:before{content: '';display: inline-block;width: 30px;height: 30px;background: url(../images/ico_login_naver.svg) no-repeat center;margin-right: 5px;}

/* popup */
.popup { display: none; width: 540px; position: fixed; left: 50%; top: 50%; background: #fff; z-index: 10001;box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 10px; overflow: hidden; } 
.dim { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2000; background: rgba(0, 0, 0, 0.5); } 
.popup.on { display: flex;flex-direction: column;max-height: 88vh;} 
.popup.on ~ .dim { display: flex;flex-direction: column;} 
.popup .pop_header { position: relative; padding:20px;box-sizing: border-box;flex:none} 
.popup .pop_header.pb0{padding-bottom: 0;}
.popup .pop_header h2 { color: #212529; font-size: 18px; text-align: center;font-weight: 700;line-height: 140%;} 
.popup .pop_header .btn_close { position: absolute; top: 15px; right: 20px; width: 30px; height: 30px; background: transparent; } 
.popup .pop_header .btn_close:before,
.popup .pop_header .btn_close:after { content:''; position: absolute; top: 50%; width: 22px; height: 2px; background-color: #000; margin-left: -11px; } 
.popup .pop_header .btn_close:before { transform: rotate(135deg) translateX(0%); } 
.popup .pop_header .btn_close:after { transform: rotate(45deg) translateX(0%); } 
.popup .pop_header + .pop_cont{margin-top: -10px;}
.popup .pop_cont { overflow: auto; padding: 10px 20px 30px; box-sizing: border-box; font-size: 16px;line-height: 24px;flex:1;overflow: auto;} 
.popup .pop_cont.pd0{padding: 0;}
.popup .pop_cont .txt{font-size: 15px;font-weight: 400;line-height: 150%;}
.popup .pop_footer { height: 50px; padding:0; box-sizing: border-box; display: flex; align-items: center;justify-content: center;flex:none} 
.popup .pop_footer > button {flex:1;height: 50px;border-radius: 0;font-size: 16px;font-weight: 400;}
.popup .pop_footer > .btn_cm.gray{background-color: #CED4DA;color:#212529}