@charset "UTF-8";

.header, .container, .footer{padding:0 20px}
.header{position:relative;height:46.666px}
.header .header_top{display:flex;align-items:center;width:100%;height:46.666px;background:#f00}
.header .header_top .logo{width:130px}
.header .header_top .allmenu{display:block;width:60px;height:100%;margin-left:auto}

.menu{position:absolute;left:0;top:0;width:100%}
.nav_hd{border-bottom:1px solid #dddddd;padding:0 20px}
.nav_hd ul{display:flex;flex-direction:row;align-items:center;justify-content:flex-end;height:46.666px}
.nav_hd li + li{margin-left:10px}
.nav_hd li a{font-size:12px;color:#445fb7}

.box_gnb{padding:0 20px}
.box_gnb > ul > li + li{margin-top:10px}

.dep1{font-size:17.333px;font-family:"Roboto-B","Noto-B", sans-serif;color:#01b5af;padding:13px 0 12px}

.dep2 > li + li{margin-top:9px}
.dep2 > li > a{position:relative;display:block;height:33px;line-height:33px;border-bottom:1px solid #dddddd;font-size:15px;font-family:'Roboto-M','Noto-M',sans-serif}
.dep2.ele > li > a::after{content:'';position:absolute;right:0px;top:12px;width:15px;height:8px;background:url(../image/ico_m_dep2_arrow.png) 0 0;background-size:100% auto}

.dep3{display:flex;flex-direction:row;height:44px;}
.dep3 li{flex:1;height:44px;background:#f7f7f7}
.dep3 li a{display:flex;align-items:center;height:100%;padding-left:14.6px;font-size:14px;color:#555555}