@charset "UTF-8";

.header, .container{padding:0 20px}
.header{position:relative;height:47px}
.header .header_top{display:flex;align-items:center;width:100%;height:47px}
.header .header_top .logo{width:116px;height:40px;background:url(../image/logo_m.png) no-repeat;background-size:100% auto}
.header .header_top .logo a{display:block;text-indent:-9999px}
.header .header_top .allmenu{display:block;width:40px;height:40px;margin-left:auto;background:url(../image/ico_m_allmenu.png) no-repeat;background-size:100% auto;text-indent:-9999px}

.menu{position:absolute;left:0;right:0;top:0;width:100%;overflow:hidden}
.menu nav{position:fixed;z-index:100;left:100%;width:100%;height:100%;overflow:auto;padding-bottom:20px;box-sizing:border-box;background:#ffffff;}
.nav_hd{border-bottom:1px solid #dddddd;padding:0 20px}
.nav_hd ul{display:flex;flex-direction:row;align-items:center;justify-content:flex-end;height:46.666px}
.nav_hd li + li{margin-left:10px}
.nav_hd li{height:24px;line-height:22px;background:#eef5fb;border:1px solid #a3c4e0;padding:0 10px;border-radius:3px;box-sizing:border-box}
.nav_hd .logout{background:#f7f7f7;border:1px solid #dddddd}
.nav_hd li a{font-size:12px;color:#445fb7}
.nav_hd .logout a{color:#555555}
.nav_hd .close{width:26px;height:24px;border:0px;padding:4px 0 4px 10px;background:url(../image/ico_m_menu_close.png) right center no-repeat;background-size:16px}
.nav_hd .close a{display:block;text-indent:-9999px}

.box_gnb{padding:0 20px}
.box_gnb > ul > li + li{margin-top:10px}

.dep1{font-size:17.333px;font-family:"Roboto-B","Noto-B", sans-serif;color:#01b5af;padding:13px 0 12px}

.dep2 > li + li{margin-top:9px}
.dep2 > li > a{position:relative;display:block;height:33px;line-height:33px;border-bottom:1px solid #dddddd;font-size:15px;font-family:'Roboto-M','Noto-M',sans-serif}
.dep2.ele > li > a::after{content:'';position:absolute;right:0px;top:12px;width:15px;height:8px;background:url(../image/ico_m_dep2_arrow.png) 0 0;background-size:100% auto}

.dep3{display:flex;flex-direction:row;height:44px;}
.dep3 li{flex:1;height:44px;background:#f7f7f7}
.dep3 li a{display:flex;align-items:center;height:100%;padding-left:14.6px;font-size:14px;color:#555555}