@charset "UTF-8";

/* 메인 공통 */
.wrap{min-width: 1000px;}
.wrap *{font-family: Pretendard;}
.logo{display: block;width:330px;height: 30px;background: url('../images/logo.svg') no-repeat center;}
.logo a{display: block;height: 100%;font-size: 0;}
header{position: fixed;top:0;left:0;right:0;height: 100px;background: #2962F6;display: flex;align-items: center;z-index: 1000;}
header .header_inner{max-width: 1000px;width: 100%;margin: 0 auto;display: flex;align-items: center;}

footer{background-color: #232B4C;}
footer .section_inner{position: relative;padding: 80px 0; width: 1000px;display: flex;}
footer .info .f_logo{display: flex;align-items: center;}
footer .info .f_logo br{display: none;}
footer .info .f_logo:before{content:'';display: inline-block;width: 26px;height: 26px;margin-right: 8px;background: url(../images/ico_footer.svg) no-repeat center;}
footer .info .f_logo+p{margin-top: 10px;}
footer .info p{color:#DEE2E6;font-size: 20px;font-weight: 400;line-height: 150%;}
footer .info p+p{margin-top: 15px;}
footer .info .strong{font-weight: 700;}
footer .f_btn{margin-left: auto;flex:none;display: flex;flex-direction: column;}
footer .f_btn button{width: 280px;height: 100px;padding-left: 25px;text-align: left;box-sizing: border-box;background: #2F3B6B url(../images/bg_footer01.svg) no-repeat center right 25px;font-weight: 700;font-size: 18px;line-height: 150%;color: #FFFFFF;border-radius: 10px;}
footer .f_btn button+button{background: #2F3B6B url(../images/bg_footer02.svg) no-repeat center right 25px ;margin-top: 20px;}
footer .copy{color:#DEE2E6;font-size: 13px;margin-top: 20px;opacity: 0.5;}

.section_inner{width:1000px;height: 100%;margin: 0 auto;padding:100px 0;box-sizing: border-box;}
.section_inner h2 p{font-weight: 600;font-size:42px;line-height: 150%;letter-spacing: -1.26px;text-align: center;color:#232B4C}

.btn_cm{font-weight: 700;font-size: 20px;line-height: 33px;padding: 20px 40px;box-sizing: border-box;color:#fff;background: #2962F6;border-radius: 10px;}
.btn_cm:hover{background-color: #1C55EA;}


/* sec01 */
.sec01{height: 1080px;position: relative;}
.sec01:after{content: '';position: absolute;left:50%;bottom: 50px;margin-left: -187px;width: 373px;height: 601px;background: url(../images/mo_img_sec01.svg) no-repeat center bottom;background-size: contain;z-index: 10;}
.sec01 .strong br{display: none;}
.sec01 .section_inner{height: 100%;padding-top: 200px;background:#D9E7FF url(../images/mo_bg_sec01.svg) no-repeat center bottom;max-width: inherit;background-size: contain;width: auto;}
.sec01 p{font-size: 48px;font-weight: 600;line-height: 150%;color:#2962F6;text-align: center;letter-spacing: -1.44px;}
.sec01 p.strong{font-weight: 800;font-size: 80px;margin-top: -10px;letter-spacing: -2.4px;}

/* sec02 */
.sec02{background:#D9E7FF;}
.sec02 .section_inner h2 .underline{display: inline-block;background: linear-gradient(to top, transparent 0%, transparent 10%, #7CD5C3 10%, #7CD5C3 40%, transparent 40%, transparent 100%);}
.sec02 .section_inner h2 .bold{font-weight:700;}
.sec02 .section_inner h2 .exbold{font-weight:800;font-size: 46px;}
.sec02 .grp_sec02{margin: 50px auto 0;border-radius: 10px;background: #FFF;width: 500px;padding: 50px;box-sizing: border-box;}
.sec02 .grp_sec02 .txt_red{font-weight: 700;font-size: 24px;line-height: 28px;color: #F06595;}


.grp_form+.grp_form{margin-top: 30px;}
.grp_form > p{font-weight: 700;font-size: 24px;color: #000;margin-bottom: 10px;}
.grp_form.tac > p{font-size: 28px;margin-bottom: 30px;}
.grp_form.tac .grp_radio2,
.grp_form.tac .grp_check{justify-content: center}
.grp_input{display: flex;align-items: center;}
.grp_input > input[type="text"],
.grp_input > input[type="password"],
.grp_input > textarea,
.grp_input > .grp_sch,
.grp_input > .grp_file{flex:1}
.grp_input > *[style*="width"]{flex:none}
.grp_input > *+*{margin-left: 10px;}
.grp_input > span{font-weight: 500;font-size: 20px;line-height: 25px;color: #212631;flex:none}
.grp_input input[type="text"],
.grp_input input[type="password"]{width:100%;padding:0 20px;height: 70px;background: #F1F3F5;border-radius: 5px;box-sizing: border-box;font-weight: 400;font-size: 24px;color:#000}
.grp_input input[type="text"]::placeholder,
.grp_input input[type="password"]::placeholder,
.grp_input textarea::placeholder{color: #ADB5BD;}
.grp_input select{width:100%;padding:0 15px;height: 50px;background:#F3F4F6 url(../images/ico_select.svg) no-repeat right 20px center;border-radius: 10px;flex:1;box-sizing: border-box;font-weight: 400;font-size: 18px;line-height: 23px;appearance: none;-webkit-appearance: none;-moz-appearance: none; }
.grp_input select::-ms-expand{display:none;}
.grp_input .txt_vali{display: none;font-size: 18px;font-weight: 500;color:#E03131;}
.grp_input .txt_vali.on{display:block}
.grp_sch {position: relative;display: flex;}
.grp_sch input[type="text"]{padding-right: 60px;}
.grp_sch input[type="text"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_sch.png) no-repeat center;}
.grp_file {position: relative;display: flex;}
.grp_file input[type="text"]{padding-right: 60px;}
.grp_file input[type="text"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_file.png) no-repeat center;}
.grp_sch.password {position: relative;display: flex;}
.grp_sch.password input[type="password"]{padding-right: 60px;}
.grp_sch.password input[type="password"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_pw.png) no-repeat center;}
.grp_input.bot{align-items: flex-end;}
.grp_form.flex{display: flex;align-items: center;}
.grp_form.flex > p{flex:none;margin-right: 20px;width: 140px;text-align: right;margin-bottom: 0;}
.grp_form.flex > .grp_input{flex:1}
.grp_form.flex.vat{align-items: flex-start;}
.grp_form.flex.vat > p{padding-top: 12px;}

.grp_radio2 { display:flex; align-items: center;position: relative;} 
.grp_radio2 input[type="radio"] { position: absolute;left:1px;top:1px;width: 0px;height: 0px;} 
.grp_radio2 input[type="radio"]:focus + label{outline: 2px solid #000;border-radius: 3px;}
.grp_radio2 label { display:inline-flex; align-items: center; font-size: 26px; color:#000; cursor: pointer;font-weight: 500;} 
.grp_radio2 label:before { content:'';flex:none; display: inline-block; margin-right:5px; width:34px; height: 34px; border:1px solid #DEE2E6; border-radius: 50%; box-sizing: border-box; background: #F1F3F5;z-index: 10;} 
.grp_radio2 label~label{margin-left: 30px;}
.grp_radio2 input[type="radio"]:checked + label:before { box-shadow: inset 0px 0px 0 7px #F1F3F5;background: #2962F6; }

.grp_check { display: flex; align-items: center;position: relative;}
ul.grp_check{display: flex;}
.grp_check > li+li{margin-left: 15px;}
.grp_check input[type="checkbox"] { position: absolute;left:1px;top:1px;width: 0px;height: 0px;} 
.grp_check input[type="checkbox"]:focus + label{outline: 2px solid #000;border-radius: 3px;}
.grp_check label { position: relative; display:inline-flex; align-items: center; padding-left: 46px; font-size: 20px; color:#000; cursor: pointer; line-height: 34px; font-weight: 700;} 
.grp_check label:before { content:''; flex:none;position: absolute;left:0; display: inline-block;margin-right: 5px; width:34px; height: 34px; border-radius:8px; box-sizing: border-box; background: #F1F3F5;border:1px solid #DEE2E6} 
.grp_check label:after { content: ''; position: absolute; left: 8px; top: 9px; width: 15px; height: 7px; border: 2px solid #fff; border-width: 0 0 4px 4px; transform: rotate(-45deg); } 
.grp_check input[type="checkbox"]:checked + label:before { background: #2962F6;}
.grp_check > a{font-weight: 700;font-size: 20px;line-height: 26px;text-decoration-line: underline;color: #343A40;margin-left: 15px;}


/* sec03 */
.sec03{background:#fff;}
.sec03 .section_inner h2 p{font-size: 36px;line-height: 140%;}
.sec03 .section_inner h2 .bold{font-weight:700;}
.sec03 .section_inner h2 .title{font-size: 42px;line-height: 150%;}
.sec03 .section_inner h2 .exbold{font-weight:800;}

.sec03 .list_img{display: flex;gap: 28px;align-items:center;width: 1000px;margin-top: 50px;}
.sec03 .list_img li{flex:1;padding:264px 4px 30px;box-sizing: border-box;background-color: #D9E7FF;border-radius: 20px;text-align: center;}
.sec03 .list_img li:nth-child(1){background: #D9E7FF url(../images/img_sec03-1.svg) no-repeat center top 34px;}
.sec03 .list_img li:nth-child(2){background: #D9E7FF url(../images/img_sec03-2.svg) no-repeat center top 44px;}
.sec03 .list_img li:nth-child(3){background: #D9E7FF url(../images/img_sec03-3.svg) no-repeat center top 30px;}
.sec03 .list_img li .tit{color: #000;font-size: 30px;line-height: 150%;letter-spacing: -0.9px;margin-bottom: 5px;}
.sec03 .list_img li .bold{font-weight: 700;}
.sec03 .list_img li p{color: #000;font-size: 22px;line-height: 150%;letter-spacing: -0.66px;}

.sec03 .txt{margin-top: 50px;font-size: 26px;line-height: 150%;letter-spacing: -0.78px;color: #000;text-align: center;}
.sec03 .bg_box{margin-top: 20px;padding: 30px 50px;border-radius: 20px;background:#F1F3F5}
.sec03 .bg_box p{color:#343A40;font-weight: 500;font-size: 20px;line-height: 150%;letter-spacing: -0.6px;text-align: center;}
.sec03 .bg_box ul {display: flex;align-items: center;justify-content: center;margin-top: 10px;}
.sec03 .bg_box ul li{color:#343A40;font-weight: 500;font-size: 20px;line-height: 150%;letter-spacing: -0.6px;}
.sec03 .bg_box ul li +li{margin-left: 15px;}

/* sec04 */
.sec04{background: #D9E7FF;}
.sec04 .section_inner {text-align: center;}
.sec04 .section_inner h2 p{font-size: 46px;font-weight: 700;color:#232B4C}
.sec04 .list_img{display: flex;gap: 28px;align-items:center;width: 1000px;margin-top: 50px;}
.sec04 .list_img li{position: relative;flex:1;padding:305px 4px 30px;box-sizing: border-box;border-radius: 20px;text-align: center;}
.sec04 .list_img li:before{content: '';position: absolute;right:30px;top:30px;width: 50px;height: 50px;background: url(../images/ico_noti.svg) no-repeat center}
.sec04 .list_img li:nth-child(1){background: #fff url(../images/img_sec04-1.svg) no-repeat center top 59px;}
.sec04 .list_img li:nth-child(2){background: #fff url(../images/img_sec04-2.svg) no-repeat center top 80px;}
.sec04 .list_img li:nth-child(3){background: #fff url(../images/img_sec04-3.svg) no-repeat center top 30px;}
.sec04 .list_img li .tit{color: #000;font-size: 30px;line-height: 150%;letter-spacing: -0.9px;margin-bottom: 5px;}
.sec04 .list_img li .bold{font-weight: 700;}
.sec04 h3{margin: 60px auto 30px;}
.sec04 h3 p{font-size: 40px;font-weight: 700;line-height: 150%;letter-spacing: -1.2px;}
.sec04 h3 .underline{display: inline-block;background: linear-gradient(to top, transparent 0%, transparent 10%, #7CD5C3 10%, #7CD5C3 40%, transparent 40%, transparent 100%);font-weight: 800;}
.sec04 .txt{color: #000;text-align: center;font-size: 32px;font-weight: 500;line-height: 150%;letter-spacing: -0.96px;}
.sec04 .list_txt{margin-top: 30px;}
.sec04 .list_txt li{font-size: 26px;font-weight: 500;line-height: 150%;color: #000;text-align: center;}
.sec04 .txt_sub{margin-top: 15px;;color:#868E96;font-size: 20px;line-height: 150%;letter-spacing: -0.6px;}




@media only screen and (max-width: 1024px) {
    .wrap{min-width: auto;}
    .wrap header{height: 60px;}
    .wrap header .header_inner{width: 100%;padding: 0 20px;box-sizing: border-box;}
    .logo{width: 268px;height: 25px;background-size: contain;}
    .section_inner{width: auto;max-width: 500px;padding: 50px 20px;}

    .sec01{background: none;position: relative;height: 780px;}
    .sec01:after{content: '';position: absolute;left:50%;bottom: 20px;margin-left: -125px;width: 249px;height: 401px;background: url(../images/mo_img_sec01.svg) no-repeat center bottom;background-size: contain;z-index: 10;}
    .sec01 .section_inner{padding-top: 120px;background:#D9E7FF url(../images/mo_bg_sec01.svg) no-repeat center bottom;max-width: inherit;background-size: auto 235px;}
    .sec01 p{font-size: 30px;}
    .sec01 p.strong{font-size: 86px;line-height: 120%;letter-spacing: -2.58px;margin-top: 0;}
    .sec01 p.strong br{display: inline-block;}

    .section_inner h2 p{font-size: 32px;}
    .sec02 .section_inner h2 .exbold{font-size: 36px;}
    .sec02 .grp_sec02{width: 100%;padding:20px}
    .grp_form > p{font-size: 18px;}
    .grp_input input[type="text"],
    .grp_input input[type="password"]{height: 60px;font-size: 16px;padding: 0 15px;}
    .grp_form.tac > p{font-size: 20px;margin-bottom: 20px;}
    .grp_radio2 label{font-size: 18px;}
    .grp_radio2 label:before{width: 30px;height: 30px;}
    .grp_check label{font-size: 16px;line-height: 30px;padding-left: 40px;}
    .grp_check > a{font-size: 15px;margin-left: 10px;}
    .grp_check label:before{width: 30px;height: 30px;}
    .grp_check label:after{width: 13px;height: 5px;}
    .sec02 .btn_cm{width: 100% !important;height: 60px;padding:0;font-size: 16px;}

    .sec03 .section_inner h2 .title{font-size: 32px;}
    .sec03 .section_inner h2 p{font-size: 28px;}
    .sec03 .list_img{width: 100%;flex-direction: column;gap: 20px;}
    .sec03 .list_img li{width:100%}
    .sec03 .list_img li:nth-child(1){background-size: 270px;padding-top: 250px;}
    .sec03 .list_img li:nth-child(2){background-size: 164px;padding-top: 230px;}
    .sec03 .list_img li:nth-child(3){background-size: 198px;padding-top: 250px;}
    .sec03 .list_img li p{font-size: 20px;}
    .sec03 .list_img li .tit{font-size: 24px;}
    .sec03 .txt{margin-top: 30px;font-size: 22px;}

    .sec03 .bg_box{padding: 20px 50px;margin-top: 20px;}
    .sec03 .bg_box p{font-size: 18px;}
    .sec03 .bg_box ul{flex-direction: column;align-items: flex-start;}
    .sec03 .bg_box ul li{font-size: 18px;}
    .sec03 .bg_box ul li+li{margin: 10px 0 0;}

    .sec04 .section_inner h2 p{font-size: 34px;}
    .sec04 .list_img{width: 100%;flex-direction: column;gap: 20px;}
    .sec04 .list_img li{width:100%}
    .sec04 .list_img li:before{right:20px;width: 40px;height: 40px;background-size: contain;}
    .sec04 .list_img li:nth-child(1){background-size: 264px;padding-top: 250px;background-position: center 30px;}
    .sec04 .list_img li:nth-child(2){background-size: 278px;padding-top: 240px;background-position: center 40px;}
    .sec04 .list_img li:nth-child(3){background-size: 210px;padding-top: 290px;background-position: center 30px;}
    .sec04 .list_img li .tit{font-size: 24px;line-height: 140%;}
    .sec04 h3 p{font-size: 28px;}
    .sec04 .txt{font-size: 22px;}
    .sec04 .list_txt li{font-size: 18px;}
    .sec04 .txt_sub{margin-top: 10px;font-size: 16px;}

    footer .section_inner{width: 100%;flex-direction: column;padding:50px 20px}
    footer .f_btn{order:-1;margin:0}
    footer .f_btn button{width:100%;background-position: center right 45px;}
    footer .info {margin-top: 30px;}
    footer .info p{font-size: 13px;}
    footer .info .f_logo{align-items: flex-start;}
    footer .info .f_logo br{display: inline-block;}
    footer .info .f_logo:before{flex:none;width:16px;height: 16px;background-size: contain;margin-right: 3px;}
}
