@charset "UTF-8";

@font-face{
    font-family:'Spoqa';
    src : url('../font/SpoqaHanSansNeo-Regular.woff') format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
    font-family:'Spoqa';
    src : url('../font/SpoqaHanSansNeo-Medium.woff') format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
    font-family:'Spoqa';
    src : url('../font/SpoqaHanSansNeo-Bold.woff') format("woff");
	font-weight: 700;
	font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby,  summary,section,
time, mark, audio, video, button, input, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: -0.2px;
	vertical-align: baseline;
	font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',Spoqa , SUIT;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	/* height:100%; */
}
body.blue{background: #2962F6;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	cursor: pointer;
}

.tac{text-align: center !important;}
.tal{text-align: left !important;}
.tar{text-align: right !important;}
.cl_red{color:#ff0000 !important}
.cl_blue{color:#1A78FE !important}
.bold{font-weight: 600;}

.mt0{margin-top: 0 !important;}
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.ml0{margin-left: 0 !important;}
.mb20{margin-bottom: 20px !important;}
.pt30{padding-top: 30px !important;}
.pt50{padding-top: 50px !important;}
