@charset "UTF-8";

/* 메인 공통 */
.wrap{min-width: 1080px;}
.wrap *{font-family: spoqa;}
.logo{display: block;width:246px;height: 42px;background: url('../images/logo.png') no-repeat center;}
.logo a{display: block;height: 100%;font-size: 0;}
header{display: flex;align-items: center;}
header .grp_link{margin-left: auto;}
header .grp_link a{display: inline-block;color:#fff;text-decoration: none;font-size: 19px;font-weight: 700;}
header .grp_link a + a{margin-left: 60px;}

footer{background-color: #212529;}
footer .section_inner{position: relative;padding: 50px 0;}
footer p{color:#CED4DA;font-size: 15px;font-weight: 400;line-height: 135%;opacity: 0.8;}
footer .f_logo{font-size: 18px;font-weight: 700;margin-bottom: 20px;opacity: 0.9;}
footer .copy{color:#DEE2E6;font-size: 13px;margin-top: 20px;opacity: 0.5;}

.section_inner{width:1000px;height: 100%;margin: 0 auto;padding:100px 0;box-sizing: border-box;}
.section_inner h2{position: relative;font-weight: 700;font-size: 43px;line-height: 54px;text-align: center;color: #2962F6;}
.section_inner h2.num{color:#212529;font-size: 34px;line-height: 150%;}
.section_inner h2.num span{display: block;width: 50px;height: 50px;border-radius: 50%;background: #0063FF;color:#fff;font-size: 22px;margin: 0 auto 10px;}
.section_inner .box_txt{flex:1}
.section_inner .box_txt .tit_sub{font-size: 32px;color:#0063FF;font-weight: 700;line-height: 150%;}
.section_inner .box_txt p.tit{font-size: 42px;line-height: 150%;font-weight: 700;margin-bottom: 30px;}
.section_inner .box_txt .txt+.txt{margin-top: 20px;}

.section_inner .box_txt p.txt{color:#495057;font-size: 22px;font-weight: 500;}
.section_inner .box_txt p span{color:#0063FF;font-weight: 700;}

.btn_cm{font-size: 20px;font-weight: 700;color:#fff;padding:25px 50px;background: #212529;border-radius: 10px;line-height: 25px;height: 75px;box-sizing: border-box;}
.btn_cm.kakao{margin-top: 57px;height: 75px;padding: 0 25px 0 90px;background: #FFE812 url('../images/ico_kakao.png') no-repeat left 15px center;color: #381F1F;font-size: 22px;font-weight: 700;border-radius: 38px;}

.list_img{display: flex;}
.list_img li{text-align: center;}
.list_img li:before{content:"";display: block;margin: 0 auto;width: 150px;height: 150px;background-color: #F1F3F5;border-radius: 50%;background-repeat: no-repeat;background-position: center;}
.list_img p{margin-top: 20px;font-size: 20px;font-weight: 700;line-height: 135%;}
.list_check li{font-size: 18px;line-height: 200%;font-weight: 500;padding-left: 40px;background: url(../images/ico_check.png) left center no-repeat;}
.list_check li+li{margin-top: 10px;}

.box_layout{display: flex;}

/* section01 */
.sec01{background: #0063FF;height: 1080px;}
.sec01 .section_inner{padding-top: 30px;height: 100%;background: url('../images/bg_sec01.png') no-repeat top right;}
.sec01 p{font-size: 26px;line-height: 150%;color:#fff;margin-bottom: 30px;font-weight: 500;}
.sec01 p.strong{margin-top: 295px;;font-weight: 700;font-size: 60px;}
.sec01 p.txt_bot{font-size: 20px;color:#CED4DA;margin-top: 310px;}
.sec01 .grp_gift{display: flex;align-items:center;margin-left: auto;margin-right: 40px;}
.sec01 .grp_gift:before{content:'GIFT';font-size: 16px;color:#fff;font-weight: 700;display: inline-flex;align-items: center;justify-content: center;width: 50px;height: 50px;border-radius: 50%;background: #0063FF;}
.sec01 .grp_gift p{font-size: 15px;color:#212529;margin: 0 0 0 10px;}

/* section02 */
.sec02{background:#F3F4F6;}
.sec02 .section_inner{width: 550px;}
.sec02 .section_inner > p{color:#212529;font-size: 23px;line-height: 150%;margin-top: 30px;text-align: center;}
.sec02 .section_inner > .txt{color:#212631;font-weight: 700;font-size: 20px;margin-bottom: 30px;}
.sec02 .section_inner > .tit_sub{font-size: 20px;font-weight: 700;margin: 40px auto 30px;}
.sec02 .section_inner h2{margin-bottom: 40px;}
.sec02 .grp_input input[type="text"]{background: #fff;}
.sec02 .grp_input input[type="password"]{background: #fff;}
.sec02 .grp_input select{background: #fff url(../images/ico_sel.png) no-repeat right 20px center;}

.sec02 .grp_form.flex{align-items: flex-start;}
.sec02 .grp_form.flex > p{line-height: 60px;}
.sec02 .grp_input{flex-direction: column;align-items: flex-start;}
.sec02 .grp_input > *{flex:none !important}
.sec02 .grp_input .txt_vali{margin:5px 0 0;}
.sec02 .grp_check{justify-content: center;}
.sec02 .box_btn{text-align: center;margin-top: 50px;}


/* sec03 */
.sec03{background: #EBF3FF}
.sec03 .box_layout:after{content: '';flex:none;width: 501px;height: 380px;background: url('../images/bg_sec03.png') no-repeat center;margin-left: 100px;}
.sec03 .section_inner .box_txt .tit{margin-bottom: 0;}
.sec03 .section_inner .box_txt .tit_sub{color:#0063FF;font-size: 26px;font-weight: 700;line-height: 150%;margin-bottom: 5px;}
.sec03 .section_inner .box_txt p{color:#212631;font-size: 34px;font-weight: 700;}

/* sec04 */
.sec04{background: #fff;}
.sec04 h2{color:#0063FF;font-size: 60px;line-height: 140%;}
.sec04 .box_layout{margin-top: 100px;}
.sec04 .box_layout:before{content:'';width: 417px;height: 294px;display:block;background:url(../images/bg_sec04.png) no-repeat center;margin-right: 100px;}

/* sec05 */
.sec05{background: #F3F4F6;}
.sec05 .section_inner{width: 900px;}
.sec05 .box_layout:after{content:'';width: 375px;height: 380px;display:block;background:url(../images/bg_sec05.png) no-repeat center;margin-left: 100px;}

/* sec06 */
.sec06{background: #EBF3FF;}
.sec06 .box_layout:before{content:'';width: 386px;height: 284px;display:block;background:url(../images/bg_sec06.png) no-repeat center;margin-right: 100px;}

.grp_form+.grp_form{margin-top: 30px;}
.grp_form > p{font-weight: 500;font-size: 20px;line-height: 25px;color: #212631;margin-bottom: 10px;}
.grp_input{display: flex;align-items: center;}
.grp_input > input[type="text"],
.grp_input > input[type="password"],
.grp_input > textarea,
.grp_input > .grp_sch,
.grp_input > .grp_file{flex:1}
.grp_input > *[style*="width"]{flex:none}
.grp_input > *+*{margin-left: 10px;}
.grp_input > span{font-weight: 500;font-size: 20px;line-height: 25px;color: #212631;flex:none}
.grp_input input[type="text"],
.grp_input input[type="password"]{width:100%;padding:0 15px;height: 60px;background: #F1F3F5;border-radius: 10px;flex:1;box-sizing: border-box;font-weight: 400;font-size: 18px;line-height: 23px;}
.grp_input textarea{width:100%;padding:15px 20px;height: 246px;background: #fff;border-radius: 10px;flex:1;box-sizing: border-box;font-weight: 400;font-size: 13px;line-height: 150%;color:#868E96;resize: none;}
.grp_input input[type="text"]::placeholder,
.grp_input input[type="password"]::placeholder,
.grp_input textarea::placeholder{color: #ADB5BD;}
.grp_input select{width:100%;padding:0 15px;height: 60px;background:#F1F3F5 url(../images/ico_sel.png) no-repeat right 20px center;border-radius: 10px;flex:1;box-sizing: border-box;font-weight: 500;font-size: 18px;line-height: 23px;appearance: none;-webkit-appearance: none;-moz-appearance: none; }
.grp_input select::-ms-expand{display:none;}
.grp_input .txt_vali{display: none;font-size: 18px;font-weight: 500;color:#E03131;}
.grp_input .txt_vali.on{display:block}
.grp_sch {position: relative;display: flex;}
.grp_sch input[type="text"]{padding-right: 60px;}
.grp_sch input[type="text"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_sch.png) no-repeat center;}
.grp_file {position: relative;display: flex;}
.grp_file input[type="text"]{padding-right: 60px;}
.grp_file input[type="text"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_file.png) no-repeat center;}
.grp_sch.password {position: relative;display: flex;}
.grp_sch.password input[type="password"]{padding-right: 60px;}
.grp_sch.password input[type="password"]+button{position: absolute;top:0;right:0;width:60px;height: 60px;background: url(../images/ico_pw.png) no-repeat center;}
.grp_input.bot{align-items: flex-end;}
.grp_form.flex{display: flex;align-items: center;}
.grp_form.flex > p{flex:none;margin-right: 20px;width: 140px;text-align: right;margin-bottom: 0;}
.grp_form.flex > .grp_input{flex:1}
.popup .grp_form.flex{margin-top: 20px;}
.popup .grp_form.flex > p{width: 100px;text-align: left;font-size: 20px;}
.popup .grp_form.flex+.grp_form.flex{margin-top: 20px;}
.popup .grp_check{justify-content: center;}

.grp_radio{display: flex;}
.grp_radio input{display: none;}
.grp_radio label{padding: 14px 15px;font-weight: 500;font-size: 18px;line-height: 23px;color: #ADB5BD;border: 1px solid #DEE2E6;background: #fff;border-radius: 30px;box-sizing: border-box;cursor: pointer;margin-right: 10px;}
.grp_radio label:last-child{margin-right: 0;}
.grp_radio input[type="radio"]:checked + label{border-color:#2962F6;color:#2962F6;box-shadow: inset 0 0 0 1px #2962F6;}
.grp_radio.img label{border: 0;padding: 0;text-align: center;color: #212529;box-shadow: none;margin-right: 20px;}
.grp_radio.img label::before{content: '';display: block;width: 100px;height: 100px;background: #E9ECEF url("../images/radio_dog.png") no-repeat center;margin-bottom: 10px;border-radius: 100px;box-sizing: border-box;}
.grp_radio.img label:last-child{margin-right: 0;}
.grp_radio.img label:last-child::before{background: #E9ECEF url("../images/radio_cat.png") no-repeat center;}
.grp_radio.img input[type="radio"]:checked + label{color: #212529;box-shadow: none;}
.grp_radio.img input[type="radio"]:checked + label::before{border: 2px solid #2962F6;background-color:#D0EBFF;}

.grp_radio2 { display:flex; align-items: center;position: relative;} 
.grp_radio2 input[type="radio"] { position: absolute;left:1px;top:1px;width: 0px;height: 0px;} 
.grp_radio2 input[type="radio"]:focus + label{outline: 2px solid #000;border-radius: 3px;}
.grp_radio2 label { display:inline-flex; align-items: center; font-size: 18px; color:#343A40; cursor: pointer;font-weight: 500;} 
.grp_radio2 label:before { content:'';flex:none; display: inline-block; margin-right:5px; width:32px; height: 32px; border:1px solid #DEE2E6; border-radius: 50%; box-sizing: border-box; background: #fff;z-index: 10;} 
.grp_radio2 label~label{margin-left: 20px;}
.grp_radio2 input[type="radio"]:checked + label:before { box-shadow: inset 0px 0px 0 7px #0063FF; }

.grp_check { display: flex; align-items: center;position: relative;}
ul.grp_check{display: flex;}
.grp_check > li+li{margin-left: 15px;}
.grp_check input[type="checkbox"] { position: absolute;left:1px;top:1px;width: 0px;height: 0px;} 
.grp_check input[type="checkbox"]:focus + label{outline: 2px solid #000;border-radius: 3px;}
.grp_check label { position: relative; display:inline-flex; align-items: center; padding-left: 40px; font-size: 18px; color:#000; cursor: pointer; line-height: 30px; font-weight: 500;} 
.grp_check label:before { content:''; flex:none;position: absolute;left:0; display: inline-block;margin-right: 5px; width:30px; height: 30px; border-radius:8px; box-sizing: border-box; background: #fff;border:1px solid #DEE2E6} 
.grp_check label:after { content: ''; position: absolute; left: 8px; top: 8px; width: 12px; height: 6px; border: 2px solid #fff; border-width: 0 0 3px 3px; transform: rotate(-45deg); } 
.grp_check input[type="checkbox"]:checked + label:before { background: #2962F6;}
.grp_check.small label{font-size: 15px;line-height: 24px;padding-left: 32px;font-weight: 400;}
.grp_check.small label::before{width: 24px;height: 24px;border-radius: 4px;}
.grp_check.small label:after {left:6px;top:6px}



/* popup */
.dim{display: none;position: fixed;top:0;bottom: 0;left: 0;right: 0;z-index: 99;background: #bbb;opacity: 0.9;}
.popup{display: none;position: fixed;top:50%;left:50%;transform: translate(-50%, -50%);min-width: 340px;min-height: 180px;z-index: 100;background: #FFFFFF;border: 1px solid #DEE2E6;box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);border-radius: 8px;padding:30px 24px 90px;box-sizing: border-box;}
.popup.on{display: block;}
.popup.on ~ .dim{display: block;}
.pop_tit{position: relative;display: flex;align-items: center;justify-content: center;font-weight: 500;font-size: 23px;line-height: 29px;text-align: center;}
.pop_tit .btn_close{position: absolute;right:0;top:0;width: 30px;height: 30px;border-radius: 50%;background:#E9ECEF url(../images/ico_close.png) no-repeat center;}
.pop_cont{margin-top: 24px;}
.pop_cont.img:before{content:'';display: block;width: 230px;height: 170px;background:url(../images/bg_pop01.png) center no-repeat;background-size: contain;margin: 0 auto;}
.pop_cont .bot_btn{display: flex;position: absolute;bottom: -1px;left:-1px;right:-1px;border-radius:0 0 8px 8px;overflow: hidden;height: 60px;}
.pop_cont .bot_btn button{flex: 1;background: #ADB5BD;font-size: 18px;letter-spacing: -0.6px;color:#fff}
.pop_cont .bot_btn button.blue{font-weight: 400;background: #2962F6;}


/* 모바일 */
.wrap.mob{min-width: auto;}
.wrap.mob .logo{width: 152px;height: 26px;background-size: contain;}
.wrap.mob .grp_gift{display: none;}

.wrap.mob .section_inner{width: auto;height: auto;padding:50px 15px }
.wrap.mob .section_inner h2{font-size: 24px;word-break: keep-all;}
.wrap.mob .section_inner .box_txt .tit_sub{font-size: 24px;}
.wrap.mob .section_inner .box_txt p.tit{font-size: 30px;margin-bottom: 20px;line-height: 140%;}
.wrap.mob .section_inner .box_txt p.txt{font-size: 18px;}
.wrap.mob .section_inner .box_txt .txt+.txt{margin-top: 15px;}

.wrap.mob .sec01{height: auto;}
.wrap.mob .sec01 .section_inner{padding-top: 15px;padding-bottom: 30px;;background: none;}
.wrap.mob .sec01 p{font-size: 20px;margin: 0px;text-align: center;word-break: keep-all;}
.wrap.mob .sec01 p.strong{margin-top: 66px;font-weight: 700;font-size: 38px;}
.wrap.mob .sec01 p:last-child{font-size: 18px;}
.wrap.mob .sec01 p:last-child:before{content: '';display: block;width: 300px;height: 254px;margin: 20px auto;background: url(../images/bg_sec01_m.png) center no-repeat;background-size: contain;}

.wrap.mob .sec02 .section_inner h2{font-size: 30px;margin-bottom: 20px;}
.wrap.mob .sec02 .box_btn{margin-top: 20px;}
.wrap.mob .sec02 .btn_cm{width: 100%;font-size: 16px;height: 60px;padding: 0 20px;}
.wrap.mob .grp_form > p{font-size: 16px;}
.wrap.mob .grp_form+.grp_form{margin-top: 20px;}
.wrap.mob .grp_input .txt_vali{font-size: 14px;}
.wrap.mob .grp_radio2 label{letter-spacing: -0.8px;}
.wrap.mob .grp_radio2 label:before{width: 25px;height: 25px;}
.wrap.mob .grp_radio2 input[type="radio"]:checked + label:before{box-shadow:inset 0px 0px 0 6px #0063FF}
.wrap.mob .grp_radio2 label~label{margin-left: 15px;}
.wrap.mob .grp_check label{font-size: 16px;padding-left: 30px;}
.wrap.mob .grp_check label:before{width: 25px;height: 25px;border-radius: 6px;}
.wrap.mob .grp_check label:after{left: 6px;top: 9px;width: 10px;height: 5px;}
.wrap.mob .grp_input textarea{font-size: 12px;padding: 13px 15px;}

.wrap.mob .box_layout{flex-direction: column;}
.wrap.mob .sec03 .section_inner{text-align: center;}
.wrap.mob .sec03 .section_inner .box_txt .tit_sub{font-size: 22px;}
.wrap.mob .sec03 .section_inner .box_txt p{font-size: 28px;}
.wrap.mob .sec03 .section_inner .box_txt .tit:after{content: '';display: block;flex:none;margin: 30px auto 0;width: 360px;height: 273px;background: url('../images/bg_sec03.png') no-repeat center;background-size: contain;}
.wrap.mob .sec03 .box_layout:after{display: none;}
.wrap.mob .sec03 .btn_cm.kakao{margin-top: 20px;height: 60px;font-size: 16px;width: 100%;background-size: contain;background-image: none;border-radius: 10px;padding: 0 15px;}
.wrap.mob .sec03 .btn_cm.kakao::before{content: '';display: inline-block;vertical-align: middle;width: 55px;height: 55px;background: #FFE812 url('../images/ico_kakao.png') no-repeat center;background-size: contain;}

.wrap.mob .sec04 .section_inner h2{font-size: 32px;}
.wrap.mob .sec04 .box_layout{margin-top: 50px;text-align: center;}
.wrap.mob .sec04 .box_layout:before{width: 300px;height: 211px;margin: 0 auto 30px;background-size: contain;}

.wrap.mob .sec05 .section_inner h2{font-size: 32px;}
.wrap.mob .sec05 .box_layout{text-align: center;}
.wrap.mob .sec05 .box_layout:before{content:'';width: 300px;height: 304px;display:block;background:url(../images/bg_sec05.png) no-repeat center;background-size: contain;margin: 0 auto 30px;}
.wrap.mob .sec05 .box_layout:after{display: none;}

.wrap.mob .sec06 .section_inner h2{font-size: 32px;}
.wrap.mob .sec06 .box_layout{text-align: center;}
.wrap.mob .sec06 .box_layout:before{width: 300px;height: 221px;margin: 0 auto 30px;background-size: contain;}

.wrap.mob footer p{font-size: 13px;line-height: 145%;}
.wrap.mob footer .f_logo{font-weight: 500;font-size: 14px;margin-bottom: 15px;}
.wrap.mob footer .copy{font-size: 12px;margin-top: 15px;}